<!DOCTYPE html>
<html ng-app="mcms">
<head>
    <link rel="stylesheet" href="/css/min/styles.min.css">
</head>
<body>
{{{body}}}


<script src="/js/min/libs.min.js"></script>
<script src="/js/min/app.min.js"></script>
</body>

</html>
